<!doctype html>
<html lang="en" ng-app='myApp'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="style/app.css">
</head>
<body>
	<div ng-controller="demo4Con">
		<input type="text" placeholder="firstname" ng-model="searchtext1">
		<input type="text" placeholder="lastname" ng-model="searchtext2">
		<input type="button" value="search">
		<table border="1">
			<thead>
				<tr>
					<th ng-click="one();a='false';b=!b;one1()">Firstname <em ng-class="{true:'disabled',false:'able'}[b]" ng-if="a"></em></th>

					<th ng-click="two();c='false';b=!b;one2()">Lastname<em ng-class="{true:'disabled',false:'able'}[b]" ng-if="c"></em></th>
					<th ng-click="three();d='false';b=!b;one3()">Gender<em ng-class="{true:'disabled',false:'able'}[b]" ng-if="d"></em></th>
					<th ng-click="four();e='false';b=!b;one4()">Salary<em ng-class="{true:'disabled',false:'able'}[b]" ng-if="e"></em></th>
					<th ng-click="five();f='false';b=!b;one5()">Ysalary<em ng-class="{true:'disabled',false:'able'}[b]" ng-if="f"></em></th>
					<th ng-click="six();g='false';b=!b;one6()">Birthday<em ng-class="{true:'disabled',false:'able'}[b]" ng-if="g"></em></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in datas | filter:searchtext1 | filter:searchtext2 | orderBy:value">
					<td>{{item.Firstname}}</td>
					<td>{{item.Lastname}}</td>
					<td>{{item.Gender}}</td>
					<td>{{item.Salary | currency:","}}</td>
					<td>{{item.Ysalary | currency:"￥"}}</td>
					<td>{{item.Birthday | date:"yyyy-mm-dd"}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script src="js/angular.min.js"></script>
<script src="js/demo4.js"></script>

</html>